/DerivedData
*.xcuserstate
Photosync.xcodeproj/project.xcworkspace/*
Photosync.xcodeproj/project.xcworkspace/xcuserdata/dominique.xcuserdatad/UserInterfaceState.xcuserstate
Photosync.xcodeproj/xcuserdata/dominique.xcuserdatad/xcschemes/Photosync.xcscheme
Photosync.xcodeproj/xcuserdata/dominique.xcuserdatad/xcschemes/xcschememanagement.plist